
Aseguradora/Aseguradora.Aplicacion/obj/Debug/net7.0/Aseguradora.Aplicacion.assets.cache
Aseguradora/Aseguradora.Aplicacion/obj/Debug/net7.0/Aseguradora.Aplicacion.csproj.AssemblyReference.cache
Aseguradora/Aseguradora.Aplicacion/obj/Debug/net7.0/Aseguradora.Aplicacion.GeneratedMSBuildEditorConfig.editorconfig
Aseguradora/Aseguradora.Consola/obj/Debug/net7.0/Aseguradora.Consola.assets.cache
Aseguradora/Aseguradora.Consola/obj/Debug/net7.0/Aseguradora.Consola.csproj.AssemblyReference.cache
Aseguradora/Aseguradora.Consola/obj/Debug/net7.0/Aseguradora.Consola.GeneratedMSBuildEditorConfig.editorconfig
Aseguradora/Aseguradora.Repositorio/obj/Debug/net7.0/Aseguradora.Repositorio.assets.cache
Aseguradora/Aseguradora.Repositorio/obj/Debug/net7.0/Aseguradora.Repositorio.csproj.AssemblyReference.cache
Aseguradora/Aseguradora.Repositorio/obj/Debug/net7.0/Aseguradora.Repositorio.GeneratedMSBuildEditorConfig.editorconfig
